<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>

<style type="text/css">
	.header-link {
	  position: absolute;
	  left: -0.5em;
	  opacity: 0;

	  \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
	  \-moz-transition: opacity 0.2s ease-in-out 0.1s;
	  \-ms-transition: opacity 0.2s ease-in-out 0.1s;
	}

	h2:hover .header-link,
	h3:hover .header-link,
	h4:hover .header-link,
	h5:hover .header-link,
	h6:hover .header-link {
	  opacity: 1;
	}
</style>